*
{
    margin: 5px;
    padding: 5px;
}
form{
    background: bisque;
    width: 500px;
    margin: auto;
    font-size: 18px;

}   
table
{
    margin: auto;
}
h1{
    text-align: center;
}
.submit
{
    border-radius: 10px;
    width: 100px;
}